<footer>
	<div class="container">
		<div class="row">

			<div class="col-lg-3">
				<div class="widget">
					<h5>Our Company</h5>
					<ul>
						<li><a href="about.html">About Us</a></li>
						<li><a href="why-choose-us.html">Why Choose Us</a></li>
						<li><a href="jobs.html">Careers</a></li>
						<li><a href="contact.html">Contact Us</a></li>
						<li><a href="contact.html">News</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="widget">
					<h5>Products</h5>
					<ul>
						<li><a href="javascript:void(0)">Manufacturing</a></li>
						<li><a href="javascript:void(0)">Distribution</a></li>
						<li><a href="javascript:void(0)">Retail</a></li>
						<li><a href="javascript:void(0)">Services &amp; Projects</a></li>
						<li><a href="javascript:void(0)">Health Care</a></li>
						<li><a href="product.html">more...</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="widget">
					<h5>Get In Touch</h5>
					We're here to listen:
					<address class="s1">
						<span><i class="fa fa-map-marker fa-lg"></i>#19B, Cochin University Junction, Cochin - 682022, India</span>
						<span><i class="fa fa-phone fa-lg"></i>+91 97447 83338, +91 97447 63336</span>
						<span><i class="fa fa-envelope-o fa-lg"></i><a href="mailto:emails@iwex.in">emails@iwex.in</a></span>
					</address>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="widget">
					<h5>Newsletter</h5>

					<p>Signup for our newsletter to get the latest news, updates and special offers in your inbox.</p>
					<form action="blank.php" class="row" id="form_subscribe" method="post" name="form_subscribe">
						<div class="col text-center">
							<input class="form-control" id="name_1" name="name_1" placeholder="enter your email" type="text" /> <a href="#" id="btn-submit"><i class="arrow_right bg-color-secondary"></i></a>
							<div class="clearfix"></div>
						</div>
					</form>
					<div class="spacer-10"></div>
					<small>Your email is safe with us. We don't spam.</small>
				</div>
			</div>
		</div>
	</div>

	<div class="subfooter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="de-flex">
						<div class="de-flex-col">
							&copy; © Copyright 2012 - 2022 | All Rights Reserved to iWEX Infomatics

						</div>

						<div class="de-flex-col">
							<div class="social-icons">
								<a href="#"><i class="fa fa-facebook fa-lg"></i></a>
								<a href="#"><i class="fa fa-twitter fa-lg"></i></a>
								<a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
								<a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
								<a href="#"><i class="fa fa-rss fa-lg"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</footer>




<!-- <footer class="web-footer">
	<div class="container">
		{% include "templates/includes/footer/footer_logo_extension.html" %}

		{% if footer_items -%}
			{% include "templates/includes/footer/footer_grouped_links.html" %}
		{% endif %}

		{% include "templates/includes/footer/footer_links.html" %}
		{% include "templates/includes/footer/footer_info.html" %}
	</div>
</footer> -->